// bower:scss
@import "bower_components/foundation-sites/scss/foundation.scss";
// endbower
@include foundation-everything;

.contact-me {
  position: relative;
  color: #fff;
  font-family: 'Comic Sans MS';
  font-weight: bold;
  font-size: 2.5vw;;

}

.radius {
  border-radius: 25px;
  border-color: #fff;
}

.github,.email,.linkedin,.huh {
  min-width: 50px;
  max-width: 150px;
  min-height: 50px;
  max-height: 150px;
  height: 100px;
  width: 100px;
}

.card {
  margin-left: 10%;
  position: absolute;
  height: 100%;
  z-index: -1;
  
}

.background-blue {
  margin-top: 0px;
  position: relative;
  height: 80%;
  width: 100%;
  background-color: #2199e8;
  z-index: -99;
}

.media-object {
  margin-left: 50%;
  margin-top: -20%;
  position: relative;
  z-index: 0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.small {
  border-radius: 10px;
}

/* Space out content a bit */
body {
  max-height: 100%;
  overflow: visible;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
